Source: tailsclock
Section: gnome
Priority: extra
Maintainer: Kevin C. Krinke <kevin@krinke.ca>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, python
Standards-Version: 3.9.3
Homepage: http://kevin.c.krinke.ca/code/tailsclock
Vcs-Git: tails@git.tails.boum.org:kevin/clock.git
Vcs-Browser: https://git.tails.boum.org/kevin/clock/

Package: tailsclock
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gir1.2-gtk-3.0 | python-gtk2, gir1.2-panelapplet-4.0 | python-gnomeapplet, gnome-icon-theme, gnome-panel, python-tz, python
Description: Clone of the GNOME Clock with configurable timezone
 This clock applet is a Python-based clone of the GNOME Clock applet
 with configurable timezone for GNOME 2.x or for GNOME 3.x in fallback
 mode.
 .
 This applet does not work with GNOME Shell.